@model Blob

<form method="post" asp-action="AddFile" asp-controller="Blob" enctype="multipart/form-data">
    <div class="container">
        <h3>Container Name : @Context.Request.Query["containerName"].ToString()</h3>
        <input hidden name="containerName" value="@Context.Request.Query["containerName"].ToString()" />
        <div class="row border p-2 pb-4">

            <div>
                <label for="Title" class="form-label mt-2">Title</label>
                <input asp-for="Title" type="text" class="form-control" placeholder="Enter Title">
            </div>

            <div>
                <label for="Comment" class="form-label mt-2">Comments</label>
                <input asp-for="Comment" type="text" class="form-control" placeholder="Enter Comments">
            </div>

            <div>
                <label for="formFile" class="form-label mt-2">Choose File</label>
                <input class="form-control" type="file" name="file" />
            </div>

        </div>
        <div class="col-12 d-flex justify-content-end">
            <div class="form-group">
                <button type="submit" class="btn btn-success form-control mt-2 mr-4 ">Add</button>
            </div>
        </div>


    </div>
</form>
